* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    background-image: url(images/patt.png);
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.row:after {
    content: "";
    display: block;
    clear: both;
}
.col-md-3 {
    width: 25%;
}
.col-md-6 {
    width: 50%;
}

[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
    height: 100px;
}
.menu{
    position: relative;
}
.menu > li {
    width: 25%;
    float: left;
    position: relative;
}
.menu a{
    display: block;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #2c71b8;
    border-left: 1px solid #2c71b8;
    font-size: 21px;
}
.shipping a {
    border-right: 1px solid #2c71b8;
}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}
.menu:after {
    content: "";
    display: block;
    clear: both;
}
.logo {
    margin-top: 7px;
}
nav ul:after {
    content: "";
    display: table;
    clear: both;
  }
nav li:hover > .products {
    visibility: visible;
    opacity: 1;
  }
.products {
    position: absolute;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    
}
.prodmain ul {
    width: 200%;
    padding-bottom: 18px;
    padding-top: 17px;
    height: 315px;
    background-color: #2c71b8;
}
.products a {
    height: 40px;
    text-decoration: none;
    text-align: left;
    line-height: 40px;
    color: white;
    font-size: 21px;
    padding-left: 29px;
}
.products a:hover {
    color: #2c71b8;
    background-color: white;
}
.prodmain:hover .prodname {
    background-color: #2c71b8;
    color: white;
}
.arrowdown {
    padding-left: 9px;
    line-height: 40px;
    margin-bottom: 4px;
}
.rowsearch{
    padding: 0;
}
.rowsearch:after{
    content: "";
    display: block;
    clear: both;
}
.formsearch {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #2c71b8;
    width: 200px;
    height: 40px;
    padding: 5px;
    float: left;
    margin-top: 7px;
}
.search {
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    width: 145px;
    height: 30px;
}
.search::placeholder{
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
}
.blueback {
    background-color: #2c71b8;
    padding-top: 6.5px;
    width: 30px;
    height: 30px;
    float: right;
}
.imgsearch {
    display: block;
    margin: 0 auto;
    width: 14px;
    height: 14px;
}
.cartdiv {
    width: 40px;
    height: 51px;
    margin-top: -6px;
    margin-left: 30px;
    float: left;
    position: relative;
}
.cart {
    background-color: white;
    width: 40px;
    height: 40px;
    margin-top: 11px;
    padding-top: 10px;
}
.imgcart{
    display: block;
    width: 18px;
    height: 20px;
    margin: 0 auto;
}
.quantity {
    background-color: #2c71b8;
    color: white;
    z-index: 10;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0px;
    left: -11px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}
.slider { 
    /* height: 400px; */
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid white;
}
.slideshow > div {
    font-size: 100px;
    color: white;
    text-align: center;
    line-height: 400px;
}
 
/* .prev, .next {
    position: absolute;
    top: 35%;
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
    z-index: 5;
} */
.slick-next:before {
    position: absolute;
    top: 35%;
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
    z-index: 5;
    content:"";
    right: 15%;
    background-image: url(images/right.png);
    background-repeat: no-repeat;
    background-position: center;
}
.slick-prev:before {
    position: absolute;
    top: 35%;
    width: 25px;
    margin-left: 15px;
    margin-right: 15px;
    height: 50px;
    z-index: 5;
    content:"";
    left: 15%;
    background-image: url(images/left.png);
    background-repeat: no-repeat;
    background-position: center;
}

.mainpart {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.mainpart:after {
    content: "";
    display: block;
    clear: both;
}
.filter {
    float: left;
    width: 270px;
    height: 845px;
    background-color: rgba(255, 255, 255, 0.25);
    position: relative;
    top: 0;
    left: 0;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    margin: 0;
}
.filter h6 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
}
.devicetype {
    margin-top: 2px;
    margin-bottom: 32px;
}
.colorsort {
    margin-top: 32px;
    margin-bottom: 32px;
}
.ram{
    margin-top: 32px;
    margin-bottom: 27px;
}

.filter label::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border: 1px solid white;
    float: left;
    margin-top: 2px;
    margin-right: 10px;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked + label:before {
    background-color: white;
}
.category {
    margin-top: 24px;
}
.showmore {
    margin-top: 28px;
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
}
.submit {
    width: 210px;
    height: 50px;
    background-color: #2c71b8;
    color: white;
    border: 1px solid white;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    font-size: 21px;
    font-weight: bold;
    margin-top: 30px;
}
.mainproducts {
    border-left: 1px solid white;
    float: right;
    position: relative;
    top: 0;
    right: 0;
    width: 900px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 90px;
}
.breadcrumbs {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.breadcrumbs a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.rowmainhead {
    height: 50px;
    width: 885px;
    margin: 0 auto;
    position: absolute;
    top: 70px;
}
.headname {
    float: left;
    font-size: 48px;
    color: white;
    font-weight: bold;
}
.sort {
    float: right;
    right: 0;
    top: 50%;
    margin: 0;
    border: 0.5px solid white;
    background-color: #2c71b8;
    width: 270px;
    height: 40px;
    padding-right: 15px;
    padding-left: 20px;
}
.select {
    padding-left: 0;
    padding-right: 0;
    text-decoration: none;
    font-size: 21px;
    border: none;
    color: white;
    background-color: #2c71b8;
    width: 235px;
    height: 35px;
}
.select::placeholder{
    color: white;
    font-family: 'Roboto', sans-serif;
}
[class*="rowproducts"] {
    width: 870px;
    height: 655px;
    padding: 0;
    margin-bottom: 30px;
}
.rowproductsone {
    margin-top: 120px;
}
.blocktwo {
    margin-left: 29px;
    margin-right: 29px;
}
[class*="block"] {
    color: white;
    width: 270px;
    height: 655px;
    background-color: #2c71b8;
    float: left;
    border: 0.5px solid white;
}
.prodimage {
    height: 180px;
    width: 270px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.75);
    margin: 0;
}
.displayimg {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-top: -45px;
    margin-left: -51px;
    height: 90px;
    width: 102px;
    background-image: url(images/icon17.png);
}
.openimg {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 5;
    height: 30px;
    width: 30px;
    background-image: url(images/icon8.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0.5px solid #2c71b8;
}
.like {
    position: absolute;
    top: 50px;
    right: 10px;
    z-index: 5;
    height: 30px;
    width: 30px;
    background-image: url(images/icon5.png);
    background-repeat: no-repeat;
    background-position: center center;
    border: 0.5px solid #2c71b8;
}
.displayimg:hover {
    cursor: pointer;
}
.openimg:hover {
    cursor: pointer;
    background-image: url(images/icon6.png);
    background-color: #2c71b8;
    background-repeat: no-repeat;
    background-position: center center;
}
.like:hover,.liked {
    cursor: pointer;
    background-image: url(images/icon7.png);
    background-color: #2c71b8;
    background-repeat: no-repeat;
    background-position: center center;
}
.description {
    padding: 15px;
    color: white;
}
.devicename {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}
.desc {
    font-size: 21px;
}
.devicecateg {
    margin-top: 15px;
    font-size: 21px;
    margin-bottom: 25px;
}
.devicecateg h6 {
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 7px;
    float: left;
}
.screensize {
    padding-top: 18px;
    padding-bottom: 18px;
}
.deviceprice {
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 9px;
    height: 45px;
    width: 148px;
}
.bigprice {
    width: 175px;
}
.dollars {
    font-size: 48px;
    float: left;
}
.coins {
    font-size: 21px;
    margin-left: 8px;
}
.buttons {
    height: 115px;
    width: 210px;
    margin-left: 29px;
}
.moredetails {
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 19px;
    height: 50px;
    width: 210px;
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
}
.moredetails:hover {
    cursor: pointer;
}
.addtocart {
    text-align: center;
    height: 50px;
    width: 210px;
    padding-left: 28px;
    padding-right: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-top: 15px;
}
.addtocart:hover {
    cursor: pointer;
}
.addtocartsub {
    float: left;
    line-height: 50px;
    width: 135px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 19px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0;   
}
.addtocartsub:hover {
    cursor: pointer;
}
.whitecart {
    background-image: url(images/icon2.png);
    background-repeat: no-repeat;
    background-position: center center;
    float: right;
    width: 16px;
    height: 18px;
    margin-top: 14px;
}
.laptopimg {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-top: -32px;
    margin-left: -51px;
    height: 64px;
    width: 102px;
    background-image: url(images/icon16.png);
}
.tabletimg {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-top: -52px;
    margin-left: -34px;
    height: 104px;
    width: 68px;
    background-image: url(images/icon15.png);
}
.cpuimg {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-top: -42px;
    margin-left: -52px;
    height: 84px;
    width: 104px;
    background-image: url(images/icon9.png);
}
.playerimg {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-top: -52px;
    margin-left: -31px;
    height: 104px;
    width: 62px;
    background-image: url(images/icon14.png);
}
.watchimg {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-top: -52px;
    margin-left: -29px;
    height: 104px;
    width: 58px;
    background-image: url(images/icon10.png);
}
.phoneimg {
    position: absolute;
    float: left;
    top: 50%;
    left: 50%;
    z-index: 5;
    margin-top: -52px;
    margin-left: -27px;
    height: 104px;
    width: 54px;
    background-image: url(images/icon12.png);
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
    cursor: pointer;
    display: none;
}
.modalwindow {
    background-color: white;
    width: 300px;
    height: 200px;
    margin: 80px auto;
    padding: 15px;
    border: 1px solid grey;
    box-sizing: border-box;
}
.form-fields {
    margin: 10px 0;
}
.form-fields input {
    width: 100%;
    height: 30px;
    padding: 5px;
}
.close-btn {
    cursor: pointer;
    float: right;
    height: 8px;
    width: 8px;
}
.hide {
    display: none;
}
.show {
    display: block;
}